 <widget id="com.example.hello" version="0.0.1">
        <name>HelloWorld</name>
        <description>
            A sample Apache Cordova application that responds to the deviceready event.
        </description>
        <author email="dev@callback.apache.org" href="http://phonegap.com">
            Apache Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" />
		 <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
	<gap:plugin name="org.apache.cordova.contacts" />
    </widget>